[Unit]
Description="/etc/my.local Compatibility"

[Service]
Type=oneshot
ExecStart=/etc/my.local start
TimeoutSec=0
StandardInput=tty
RemainAfterExit=yes
SysVStartPriority=99

[Install]
WantedBy=multi-user.target
